/* Mobile Phone Small */
@media (max-width: 576px) {
    body {
        padding: 0px 8px !important;
    }

    .bg-scroll {
        display: none;
    }

    .highlight img {
        margin-top: 2rem;
    }

    .highlight .title {
        font-size: 32px;
    }

    .highlight .paragraph {
        font-size: 14px;
    }

    #btn-highlight {
        padding: 8px 12px;
        font-size: 16px;
    }

    .learning .row {
        padding: 1rem;
    }

    .learning .tag {
        margin-top: 1rem;
    }

    .learning .paragraph {
        font-size: 14px;
        line-height: 24px;
        font-family: 'PoppinsMedium';
    }

    .learning .learning-grid .row {
        display: flex;
        justify-content: center;
    }

    .report .container {
        padding: 2rem;
    }

    .report img {
        display: none;
    }

    .class .js-card {
        padding: 1rem;
    }

    .class .css-card {
        padding: 1rem;
    }

    .class .html-card {
        padding: 1rem;
    }

    .class .lesson {
        font-size: 11px;
    }

    footer .footer-list {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    /* Register/Login page */

    .report .right-twig {
        display: none;
    }
    
    .class .left-twig {
        display: none;
    }

    .login .bg-login img {
        display: none;
    }

    .login .form-login {
        background-image: none;
    }

    .login .form-header {
        width: 100vw !important;
        padding: 12px;
    }

    .register .form-register {
        background-image: none;
    }

    .register .form-header {
        width: 100vw !important;
        padding: 12px;
    }

    .register .bg-register img {
        display: none;
    }
    
    #ranting {
        display: none;
    }

    #daun {
        display: none;
    }

    .detail-content {
        width: 100vw !important;
    }

    /* Laporan */
    .report-content {
        width: 100vw !important;
    }
}