/* Mobile Phone Small */
@media (max-width: 576px) {
    body {
        padding: 0px 8px !important;
    }

    .bg-scroll {
        display: none;
    }

    .img-fluid {
        display: none;
    }

    .learning .row {
        padding: 1rem;
    }

    .report .container {
        padding: 2rem;
    }

    .class .js-card {
        padding: 1rem;
    }

    .class .css-card {
        padding: 1rem;
    }

    .class .html-card {
        padding: 1rem;
    }

    .class .lesson {
        font-size: 10px;
    }

    footer .footer-list {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .report .right-twig {
        display: none;
    }
    
    .class .left-twig {
        display: none;
    }

    .login .form-login {
        background-image: none;
    }

    .login .form-header {
        width: 100vw !important;
        padding: 12px;
    }

    .register .form-register {
        background-image: none;
    }

    .register .form-header {
        width: 100vw !important;
        padding: 12px;
    }
}


/* @media screen and (max-width: 1366px) {
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vw;
        background-color: #F5F5F5;
    }
} */

/* Desktop Full HD Display */
/* @media screen and (min-width: 1920px) {
    body {
        padding: 0px 120px;
    }
} */